<tr>
  <td>
    <%= link_to "#{store_item.name}", item_path(store_item.id) %>
  </td>
  <td>
    <%= store_item.description %>
  </td>
  <td>
    $<%= store_item.price %>
  </td>
  <% if current_user.admin? %>
    <td><%= store_item.status %></td>
  <% end %>
  <td>
    <% if request.path == "/admin" %>
      <%= link_to "View", item_path(store_item.id) %> |
      <%= link_to "Edit", edit_item_path(store_item.id) %> |
      <%= link_to "Delete", item_path(store_item.id), method: :delete,
                                       data: { confirm: "This will be tagged as inactive." } %>
    <% else %>
      <%= button_to add_item_path, class: "btn btn-xs btn-primary", params: {'item_id' => store_item.id } do %>
        <i class="glyphicon glyphicon-shopping-cart"></i> Add
      <% end %>
    <% end %>
  </td>
</tr>
