<tr>
  <td>
    <%= link_to "#{store_item.name}", item_path(store_item.id) %>
  </td>
  <td>
    <%= store_item.description %>
  </td>
  <td>
    $<%= store_item.price %>
  </td>
  <% if current_user.admin? %>
    <td><%= store_item.status %></td>
  <% end %>
  <td>
      <%= link_to "View", item_path(store_item.id) %> |
      <%= link_to "Edit", edit_admin_item_path(store_item.id) %> |
      <%= link_to "Delete", admin_item_path(store_item.id), method: :delete,
                                       data: { confirm: "This item will be archived." } %>
  </td>
</tr>
