<div class="col-lg-6">
  <div class="list-group text-center" style="min-height:90px;">
    <a href="<%= item_path(store_item) %>" class="list-group-item">
      <%= image_tag(store_item.image.url(:small)) %>
      <div style="margin-top:15px;"><h4 class="list-group-item-heading"><%= store_item.name %></h4>
      <p class="list-group-item-text"><%= store_item.description %></p><br></div>

      <%= form_tag(add_item_path, class: "form-inline") do %>
          <%= hidden_field_tag :item_id, store_item.id %>
          <%= hidden_field_tag :quantity, 1 %>

        <%= button_tag(type: "submit", class: "btn btn-xs btn-primary") do %>
            <i class="glyphicon glyphicon-shopping-cart"></i> Add
        <% end %>
      <% end %>
    </a>
  </div>
</div>
