<div class="row">
  <div class="col-lg-8" >
    <div class="page-header">
      <h2><%= @item.name%></h2>
    </div>

    <%= image_tag @item.image.url(:large) %><br>
    <%= form_tag(add_item_path, class: "form-inline", style:"margin-top:15px;") do %>
        <%= hidden_field_tag :item_id, @item.id %>
        <div class="form-group">
          <h5 style="display:inline;margin-right:80px;"><strong>$<%= @item.price %></strong></h5>
          <%= text_field_tag :quantity, 1, class: "form-control input-sm", style: "margin-right:5px;width: 45px; height:28px;"%>
        </div>

        <%= btn_add @item.status %>
    <% end %><br>
    <%= item_status @item.status  %><br>

    <h6><%= @item.description %></h6>
    <%= button_tag(type: "submit", class: "btn btn-primary", "data-toggle": "modal", "data-target": "#post-modal") do %>
      <% concat content_tag(:i, "", class: "glyphicon glyphicon-share-alt") %>
      <% concat content_tag(:span, " Share") %>
    <% end %>
  </div>
  <% unless current_user.admin? %>
  <div class="col-lg-4" style="padding-top:110px;">
    <%= render 'shared/store_nav' %>
    <%= render 'shared/cart_panel' %>
  </div>
  <% end %>
</div>

<div class="modal fade" id="post-modal" style="margin-top:10%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
        <h4 class="modal-title">Post to Global Messages Board</h4>
      </div>
      <div class="modal-body">
        <%= custom_form(@post, html: {class: "form-horizontal", id: "post-form"}) do |f| %>
          <%= f.group do %>
            <%= f.text_area :content, size: "30x5", value: "Check this out #{request.original_url}"  %>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag "Post", class: "btn btn-primary", form: "post-form" %>
      </div>

    </div>
  </div>
</div>
