<tr>
  <% if current_page?(admin_path) %>
  <td>
    <%= link_to order.user.full_name, order.user %>
  </td>
  <% end %>
  <td>
    <%= order.created_at.strftime("%B %d, %Y") %>
  </td>
  <td>
    <%= order.status %>
    <% if order.purchased_at && order.status == "Completed" %>
      <%= order.purchased_at.strftime("%B %d, %Y") %>
    <% end %>
    </td>
  <td>
    <%= "Items purchased: #{order.order_items.count}"%><br>
    <%= "Total amount: $#{order.amount}" %>
  </td>
  <td>
    <%= link_to "View Invoice", order_path(order) %>
  </td>
</tr>
