<div class="bs-component" style="width:60%; margin: auto;">
<div class="page-header">
  <h2>Order Invoice</h2>
</div>

<div class="jumbotron">
<table class="table table-striped table-hover">
  <thead>
    <tr>
    <th>Item/s</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <% @order.order_items.each do |o| %>
    <tr class="<%= cycle('info', '') %>">
      <td>
        <strong><%= o.store_item.name %></strong><br>
        <span style="padding:20px">Item id: <%= o.store_item.id %></span><br>
        <span style="padding:20px">Item quantity: <%= o.quantity %></span><br>
        <span style="padding:20px">Unit price: <%= o.store_item.price %></span>
      </td>
      <td><strong> $<%= o.store_item.price * o.quantity %> </strong> </td>
    </tr>
  <% end %>
  <tr class="<%= cycle('info', '') %>">
    <th>Item total</th>
    <th>$<%= @order.amount %> </th>
  </tr>

  <tr class="<%= cycle('info', '') %>">
    <th>Ordered by</th>
    <td><%= link_to @order.user.full_name, @order.user %></td>
  </tr>
  <tr class="<%= cycle('info', '') %>">
    <th>Payment status</th>
      <td><%= @order.status %><br>
    <% if @order.status == "Unpaid" %>
      <%= form_tag APP_CONFIG[:paypal_url] do %>
        <%= hidden_field_tag :cmd, "_s-xclick" %>
        <%= hidden_field_tag :encrypted, @order.paypal_encrypted(order_url(@order), hook_url(:secret => APP_CONFIG[:paypal_secret])) %>
        <%= image_submit_tag("pay_now.gif") %>
      <% end %>
    <% end %>
  </tr>
  <tr class="<%= cycle('info', '') %>">
    <th>Payment date</th>
    <td><%= @order.purchased_at.strftime("%B %d, %Y") if @order.purchased_at %></td>
  </tr>
  <tr class="<%= cycle('info', '') %>">
    <th>Paypal Transaction Identifier</th>
    <td><%= @order.transaction_id %>
  </tr>
</tbody>
</table>
    <% if @order.status == "Unpaid" %>
      <%= link_to order_path(@order), class: "btn btn-primary", style:"text-align:right;float:right;margin-top:-8px;", method: :put do %>
      <i class="glyphicon glyphicon-remove-circle"></i> Cancel order
      <% end %>
    <% end %>
  </div>
</div>
