<% if logged_in? %>
  Welcome <%= "#{@current_user.salutation} #{@current_user.fname} #{@current_user.lname}" %>!<br>
  Username: <%= @current_user.username %><br>
  <%= @current_user.gender %>, Born <%= @current_user.birthdate.strftime("%B %d, %Y") %><br>
  About: <%= @current_user.about %><br><br>

  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="QPJMXZWF3MM4U">
    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>

  <%= form_for(@post) do |f| %>
    <%= f.label "Post a message: " %>
    <%= f.text_area :content %>

    <%= f.submit "Post" %>
  <% end %><br>

  Global Message Boards<br>

  <%= form_tag '/search' %>
  <div id="fields_wrap">
  <%= search_field_tag :content %>

  <%= submit_tag "Search" %>

  </div>
  <button id="add_field_btn">Add field</button>

  <table border="1" style="width:50%">

    <%= render @posts if @posts.any? %>

  </table>

    <%= will_paginate @posts %>
<% else %>
  <%= link_to "Register", new_user_path %>
  <%= link_to "Log in", login_path %>
<% end %>
