<div class="jumbotron">
<% if logged_in? %>
  <h3>Welcome <%= "#{@current_user.salutation} #{@current_user.fname} #{@current_user.lname}" %>!</h3><br>
  Username: <%= @current_user.username %><br>
  <%= @current_user.gender %>, Born <%= @current_user.birthdate.strftime("%B %d, %Y") %><br>
  About: <%= @current_user.about %><br><br>

  <div class="form-inline">
  <%= render 'donations/form', d: @donation5 %>
  <%= render 'donations/form', d: @donation10 %>
  <%= render 'donations/form', d: @donation20 %>
</div>

</div>

  <%= form_for(@post) do |f| %>
    <%= f.label "Post a message: " %>
    <%= f.text_area :content %>

    <%= f.submit "Post" %>
  <% end %><br>


  <%= form_tag '/search' do -%>
    <div id="fields_wrap">
      <%= search_field_tag :content %>
      <%= submit_tag "Search" %>
    </div>
  <% end -%>
  <button id="add_field_btn">Add field</button>


  <div class="jumbotron">
    <div class="page-header">
      <h3>Global Message Boards</h3>
    </div>
    <div class="row"><%= render @posts if @posts.any? %></div>
    <center><%= will_paginate @posts, renderer: BootstrapPagination::Rails %></center>
  </div>


<% else %>
  <div class="jumbotron">
    <h1>Welcome human!</h1>
    <p><br>
    <%= link_to "Sign up", new_user_path %> now or
    <%= link_to "Log in", login_path %> if you already have an account.
    </p>
    <center><%= image_tag "nyan.gif" %></center>
    <span>Nyan cat poops rainbows.</span>
  </div>
<% end %>
