<!DOCTYPE html>
<html>
<head>
  <title>Secudevcase1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <center>
  <%= link_to "Home", root_url %>

    <% if logged_in? %>
      <% if @current_user.admin? %>
        | <%= link_to "Register new user", new_user_path %>
        | <%= link_to "Backups", backups_path %>
        | <%= link_to "Manage Store", manage_orders_path %>
      <% end %>
        | <%= link_to "Store", items_path %>
        | <%= link_to "Edit Profile", edit_user_path(@current_user) %>
        | <%= link_to "Log out", logout_path, method: :delete %><br>
    <% end %> <br><br>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "#{message_type}") %><br>
  <% end %>

  <%= yield %>

</body>
</html>
